*{
	margin-left:0px;
	margin-top:0px;
	padding-left:0px;
}
body{
	width:100%;
	background-color:#CCCC00;
	color:#80007E;
}
.menu{
	width:14.3%;
	float:left;
	margin-top: 20px;
	margin-left:0.7%;
	margin-right:1.5%;
}
.menu ul li{
	list-style:none;
	background-color:white;
	margin-top:7px;
	margin-bottom:7px;
	padding:5px;
}
.menu ul li:nth-child(odd){
	border-right:20px solid #FF7F00;
}
.menu ul li:nth-child(even){
	border-right:20px solid #0000FF;
}
.menu ul li a{
	text-align:left;
	color:#80007E;
	text-decoration:none;
	font-family: georgia;
}
.content{
	width:82%;
	float:left;
	margin-top:10px;
	margin-left:1.5%;
}
h1{
	font-family: sans-serif;
}
.first{
	margin-bottom:50px;
	font-size:17px;
}
.second{
	padding:5px 0px 0px 2px;
	border-top: 1px dotted #80007E;
	opacity:0.8;
}
.second > p{
	margin-top: 20px;
}
.one{
	border: 2px dashed black;
	text-align:left;
	padding:7px;
	width:80%;
	color: black;
	font-size: 20px;
}
.two{
	border: 2px dashed red;
	text-align:right;
	padding:7px;
	width:80%;
	color: black;
	font-size: 20px;
	font-style: italic;
}
.three{
	border: 2px dotted #0000FF;
	text-align:center;
	padding:7px;
	width:80%;
	color: black;
	font-size: 20px;
	font-weight:bold;
}
footer pre{
	font-family: georgia;
	text-align:left;
	font-style: italic;
	margin-top: 10px;
	padding: 20px 0px 0px 5px;
}
